.container {
    max-width: 120rem;
    margin: 8rem auto;
    background: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background: #fff;
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between; //Alineamos todo en el main axis.
    align-items: center; //Centra todo los elementos. cross axis.

    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 11rem;
    }

}

.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.sidebar {
    background: var(--color-grey-dark-1);

    flex: 0 0 18%; //No queremos que los elementos crezcan, tampoco queremos que se reduzca y simplemente
    //le damos un ancho del 18% a la barra lateral.

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background: #fff;

    flex: 1;
}

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background: var(--color-grey-light-1);
    border-bottom: var(--line);

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.description {
    background: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-right: 4.5rem; //El mismo tamaño que el padding de detail, por eso en la media query lo cambiamos tmb.

    flex: 0 0 60%;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    flex: 1; //Para ocupar el espacio que deja el .description, que ocupa el 60%

    display: flex;
    flex-direction: column;
    align-items: center; //Estas 3 lineas fue para alinear el boton en el medio

}
